{% load static %}



<li>
    <article class="post">
    <a href="{% url "post-detail-page" "the-mountains" %}"> 
        
        <img src="{% static "images/mountains.jpg" %}" alt="">              
        
    
        <div class="post__content">

            <h3>Moutain Hiking</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut libero laborum fugit quidem illo. Amet ad quae dolore pariatur laboriosam quisquam veniam, aut eveniet dolores dolorum iste, vel sunt facere?</p>
        </div>
   
    </a> 
</article>
</li>